<div id="divMasterDetailWrapper" ng-controller='CustomerMasterDetailCtrl'
     style="position: relative;">
    <div style="left: -30px; top: -1px; position: absolute;">
        <img src="Images/tabAngularJS.png"/>
    </div>
    <div id="divMasterView">
        <div id="{{customer.customerid}}" class="cssOneCompanyRecord"
             ng-class="{cssCompanySelectedRecord: Customer.CustomerID == selectedCustomer}"
             ng-repeat='Customer in listOfCustomers'
             ng-click="selectCustomer(Customer);">
            <div class="cssCompanyName">{{Customer.name}}</div>
            <img src='Images/icnOffice.png'
                 title="This is a tooltip for the company: {{Customer.name}}"
                 class="cssCustomerIcon"/>
        </div>
    </div>
    <div id="divDetailView">
        <!--  .$select('Order, sum(Quantity) as OrderTotal')-->
        <div id="Order_{{Order['@id']}}" ng-repeat="Order in listOfOrders"
             class="cssOneOrderRecord">
            <div class="cssOneOrderHeader">
                <div class="cssOrderID">Order # {{Order.name}}</div>
                <div class="cssOrderDate">Order Date: {{Order.orderDate}}</div>
            </div>
            <div class="cssOneProductRecord"
                 ng-repeat='Item in Order.itemDetails | filter:ProductsInOrder'
                 ng-class-odd="'cssProductOdd'" ng-class-even="'cssProductEven'">
                <div class="cssOneProductQty">{{Item.quantity}}</div>
                <div class="cssOneProductName">{{Item.product.name}}</div>
                <div class="cssOneProductPrice">@ {{Item.unitPrice |
                    currency}}
                </div>
                <div class="cssOneProductSubtotal">{{Item.unitPrice *
                    Product.quantity | currency}}
                </div>
            </div>
            <div class="cssOneOrderTotal">
                <div class="cssOneProductQty">
                    {{Order.itemDetails|countItemsInOrder}} item(s),
                    {{Order.itemDetails.length}} product(s)
                </div>
                <div class="cssOneProductSubtotal">
                    {{Order.itemDetails|orderTotal | currency}}
                </div>
            </div>
        </div>
    </div>
</div>